@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Duru+Sans&family=Josefin+Sans&family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.magic-text {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
